html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	min-height: 100%;
}

html {
	position: relative;
}

a {
	text-decoration: none;
	color: inherit;
}

body {
	background: url(../img/background.jpg) no-repeat;
	background-size: cover;
    font-family: "Helvetica Neue", Helvetica, Arial, 'Microsoft Yahei', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}

input[type="text"], input[type="password"], input[type="submit"], input[type="reset"], input[type="button"], button {
	border: none;
    font-family: "Helvetica Neue", Helvetica, Arial, 'Microsoft Yahei', sans-serif;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
/* login */
.container {
	max-width: 400px;
	height: 100%;
	margin: 0 auto;
	position: relative;
	padding-bottom: 40px;
}

.main {
	height: auto;
	width: 100%;
	padding-top: 30%;
}

.avatar {
	height: 100px;
	width: 100px;
	margin: 0 auto;
	position: relative;
	background: url(../img/avatar.jpg);
	background-size: cover;
	background-position: center;
	border-radius: 50px;
	border: 3px solid #eee;
}

.content {
	margin-top: 20px;
	margin-bottom: 20px;
}

.content > h1 {
	text-align: center;
	color: rgba(255,255,255, 0.6);
}

.content .tip {
	text-align: center;
	padding: 20px;
	box-sizing: border-box;
}

.content .login > input[type="password"] {
	display: block;
	margin: 0 auto;
	padding: 0 20px;
	box-sizing: border-box;
	height: 40px;
	width: 200px;
	font-size: 18px;
	background: rgba(0, 0, 0, 0.2);
	color: rgba(255,255,255, 0.8);
	border-radius: 5px;
}

.content .login > input[type="submit"] {
	display: block;
	margin: 10px auto 0 auto;
	box-sizing: border-box;
	height: 30px;
	width: 200px;
	background: rgba(0, 0, 0, 0.2);
	color: rgba(255,255,255, 0.8);
	border-radius: 5px;
}

/* microblog page */
.container.microblog {
	max-width: 800px;
	padding: 40px 20px;
	background-color: rgba(0, 0, 0, 0.2);
}

/* microblog header */
.microblog > header > h1{
/*	margin-left: 20px;
*/	display: inline-block;
	color: rgba(255, 255, 255, 0.4);
}

.microblog > header > h1 > a {
	border-bottom: 1px dotted rgba(255, 255, 255, 0.4);
}

.microblog > header > h1 + span {
	margin-left: 10px;
}

.post {
     margin-top: 20px;
}

.post > .avatar {
     border-radius: initial;
     box-sizing: border-box;
     float: left;
     height: 80px;
     margin: initial;
     width: 80px;
}

.post > form {
     box-sizing: border-box;
     float: left;
     left: 20px;
     padding-left: 80px;
     padding-right: 40px;
     position: absolute;
     width: 100%;
}

.post > form textarea {
     background-color: rgba(0, 0, 0, 0.3);
     border: medium none;
     box-sizing: border-box;
     color: rgba(255, 255, 255, 0.8);
     font-family: "Helvetica Neue",Helvetica,Arial,"Microsoft Yahei",sans-serif;
     height: 80px;
     padding: 10px 80px 10px 10px;
     position: relative;
     resize: initial;
     width: 100%;
}

.post > form input[type="submit"] {
	box-sizing: border-box;
     border: 3px solid rgba(255, 255, 255, 0.3);
     display: block;
     float: right;
     height: 80px;
     margin: 0px;
     padding: 0px;
     position: relative;
     top: -82px;
     width: 80px;
     background: rgba(17, 17, 17, 0.5);
     color: rgba(255, 255, 255, 0.8);
}

.post:after {
     clear: both;
     content: "";
     display: block;
}

/* Microblog Body */
.contents {
	padding: 20px;
	padding-right: 10px;
	margin-top: 20px;
	position: relative;
}

.contents .blog-text {
	box-sizing: border-box;
	height: auto;
	background: #fff;
	padding: 10px 20px 5px 20px;
	margin-left: 80px;
	margin-bottom: 20px;
	border-radius: 5px;
	border: 3px solid #aaa;
	position: relative;
	width: auto;
}

.blog-text:hover::before {
	background: orange;
}

.blog-text::before {
	content: '';
	box-sizing: border-box;
	height: 40px;
	width: 40px;
	background: #ddd;
	position: absolute;
	top: 50%;
	margin-top: -20px;
	left: -95px;
	border-radius: 20px;
	border: 3px solid #fff;
	transition: background 1s;
}

.contents .blog-text::after {
	content: '';
	height: 0;
	width: 55px;
	background: green;
	position: absolute;
	border-bottom: 4px solid #fff;
	top: 50%;
	margin-top: -3px;
	left: -55px;
	z-index: 1;
}

.contents .blog-text .text-main {
	height: auto;
	width: 100%;
	padding-bottom: 20px;
}

.contents .blog-text .text-main textarea {
	resize: none;
	height: auto;
	width: 100%;
	display: none;
}

.contents .blog-text .text-messages {
	position: absolute;
	bottom: 0;
	right: 20px;
	left: 20px;
	width: auto;
	height: 20px;
}

.contents .blog-text .text-messages ul {
	display: block;
}

.contents .blog-text .text-messages ul li {
	display: inline;
}

.contents .blog-text .text-messages button {
	height: 100%;
	width: 50%;
	float: left;
	display: none;
}

/* microblog-pages */
.container .pages {
	text-align: center;
	margin-bottom: 20px;
}

.container .pages ul li {
	display: inline-block;
}

@media(max-height: 600px) {
	.main {
		padding-top: 20px;
	}
}

@media(max-height: 400px) {
	.main {
		padding-top: 10px;
	}
}

.footer {
	position: absolute;
	bottom: 0;
	height: 40px;
	width: 100%;
	text-align: center;
	color: rgba(255,255,255, 0.8);
}